# Since we want this repository simple and clean,
# we allow only certain types of files (whitelisting)

# By default, ignore everything
*

# But don't ignore entities ending with slash = directories
!*/

# And don't ignore files ending with whitelisted endings
!*.go
!*.png
!*.md
!*.iml
!*.xml

# Everything below this line is redundant
# and may be removed once everything works as intended

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output of the build script
build/**