name: Build All Architectures

on:
  workflow_dispatch:
  push:
    branches:    
      - 'master'
    paths-ignore:
      - '.idea/..'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '.idea/..'
      - 'docs/**'

jobs:
  build-all:
    name: Build for all architectures
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Run build script
      run: ./scripts/build.sh -a amd64
    - name: Upload to GitHub Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: artifacts
        path: ./build/*
    - name: Upload to GitHub Releases
      if: github.event_name != 'pull_request' && github.ref_name == 'master'
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "continuous"
        prerelease: true
        title: "Continuous Build"
        files: |
          ./build/*
