name: Build All Architectures

on:
  workflow_dispatch:
  push:
    branches:    
      - 'master'
    paths-ignore:
      - '.idea/..'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '.idea/..'
      - 'docs/**'

jobs:
  build-all:
    name: Build for all architectures
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v5
      with:
        clean: false
        fetch-depth: 0
        fetch-tags: true
        filter: tree:0
        show-progress: false
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '>=1.23'
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Setup build
      run: >
        printf '%s\n'
        COMMIT="$GITHUB_SHA"
        PROJECT="$GITHUB_WORKSPACE"
        VERSION="$((GITHUB_RUN_NUMBER+646))"
        | tee "$GITHUB_ENV"
    - name: Run build script
      run: ./scripts/build.sh -a amd64,386,arm64,arm
    - name: Upload to GitHub Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: ./build/*
    - name: Upload to GitHub Releases
      if: github.event_name != 'pull_request' && github.ref_name == 'master'
      env:
        GH_TOKEN: ${{ github.token }}
      run: ./scripts/release.sh continuous "$COMMIT" ./build/*
#
